* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'IBM Plex Mono';
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome */
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  color: #010101;
}

.one {
  background-color: antiquewhite;
}


h1 {
  font-size: 2rem;
}

/* p {
  width: 90%;
  margin: 2rem 0;
} */

section {
  height: 100vh;
}

.container {
  padding: 5rem;
}

.scroll_container {
  height: 400vh;
}

.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll_contents {
  height: 100%;
  width: 100vw;
}

.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.red {
  background-color: #ff3d00;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #05ff00;
}

.blue {
  background-color: #2835f8;
}

h2 {
  font-size: 2rem;
  color: #f7f7f7;
}

.left {
  margin-top: 5vh;
  margin-left: 5vw;
}

.right {
  text-align: right;
  margin-top: 85vh;
  margin-right: 5vw;
}

/* Navigation Bar  */
.navbar {
  position: fixed; /* Keeps the navbar at the top */
  top: 0;
  width: 100%;
  transition: top 0.3s; /* Smooth transition for navbar hide and show */
  background-color: #F8F8FF; /* Set your desired color */
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Changes from 1fr auto 1fr to repeat(3, 1fr) */
  align-items: center;
  /* padding: 0 3rem; */ /* You can adjust the padding as needed */
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Example shadow for depth */
}

.nav-list {
  display: contents;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Futura', sans-serif;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.nav-item a:hover {
  color: #ff3d00;
}

#nav-title > a {
  font-family: "Rubik", sans-serif;
  color: #313638;
}

/* Menu Button */
.hamburger {
  display: flex;
  align-items: center; /* Aligns children vertically in the center */
  justify-content: center; /* Centers children horizontally, remove if not needed */
}

.menu-text {
  margin-left: 10px; /* Adjust based on your design needs */
  font-family: "Rubik", sans-serif; /* Your font choice */
  font-size: 1rem; /* Adjust as needed */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  color: #313638;
}


.hamburger input {
  display: none;
}

.hamburger svg {
  height: 30px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(56, 56, 56);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}



/* Navigation Bar Search Bar and Icon */
.nav-search-profile {
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 8px;
}

#search-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#profile-icon {
  margin-top: 3px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

#search-bar {
  border: none;
  font-size: 14px;
  padding: 4px;
  background-color: #F8F8FF;
  font-family: "Rubik", sans-serif;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 305px; 
  padding: 0 250px;
  background: #1d1d1d;
}

.footer-title {
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #494949;
}

.footer-title #footer-title-link, #footer-title-p {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-family: "Rubik", sans-serif;
}

.footer-title > #footer-title-h2, #footer-title-link {
  letter-spacing: 2px;
  font-weight: 400;
}

.footer-title > #footer-title-p {
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Footer Links */
.footer-links {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr) auto; /* Added an extra 'auto' column for profile links */
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 30px;
  border-bottom: 1px solid #494949;
  text-align: left;
}

.footer-links > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* New styles for the list item containing profile links */
.footer-links > li:last-child {
  flex-direction: row; /* Change flex-direction to 'row' */
  justify-content: center; /* Optionally, center the profile links horizontally */
  align-items: center; /* Optionally, center the profile links vertically */
  gap: 20px;
}

.footer-links a {
  position: relative; /* Add this line */
  letter-spacing: 1px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 13px;
  color: #f8f8f8;
  font-family: "Nunito", sans-serif;
  text-decoration: none; /* Add this line */
}

/* Footer hover Links */

.footer-links a::before {
  content: '';
  position: absolute;
  bottom: 5px; /* Adjust the position of the underline */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: transparent; /* Set the initial color of the underline */
  transform: scaleX(0); /* Initially scale the underline to 0 */
  transform-origin: right;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out; /* Add a transition for smooth animation */
}

.footer-links a:hover::before {
  transform: scaleX(1); /* Scale the underline to 100% on hover */
  transform-origin: left; /* Start the scaling from the left */
}

/* Individual hover effects with pastel colors */
#link-back-to-top:hover::before { background-color: #FF7F7F; } /* Deep Peach */
#link-home:hover::before { background-color: #7F9F7F; } /* Dark Olive Green */
#link-login:hover::before { background-color: #9F7F7F; } /* Dark Salmon */

#link-shop-all-stickers:hover::before { background-color: #9F7FBF; } /* Plum */
#link-best-sellers:hover::before { background-color: #7FBF7F; } /* Dark Sea Green */
#link-new-arrivals:hover::before { background-color: #FF9F7F; } /* Deep Orange */

#link-column-stickers:hover::before { background-color: #BF9F7F; } /* Dark Tan */
#link-about-us:hover::before { background-color: #7F9F9F; } /* Dark Slate Gray */
#link-how-made:hover::before { background-color: #BF7FBF; } /* Dark Plum */

#link-sticker-care:hover::before { background-color: #BFBF7F; } /* Dark Olive */
#link-order-tracking:hover::before { background-color: #7F7FBF; } /* Dark Slate Blue */
#link-returns:hover::before { background-color: #BF7F9F; } /* Dusty Rose */

#link-terms:hover::before { background-color: #7F9FBF; } /* Dark Slate Blue */
#link-privacy:hover::before { background-color: #BF7F7F; } /* Dark Salmon */
#link-contact:hover::before { background-color: #9FBF7F; } /* Dark Olive Green */

#furina {
  /* -webkit-transform: scaleX(-1); */
  transform: scaleX(-1);
  width: 100%;
  height: auto;
  max-width: 120px;
  margin-top: -15px; /* Adjust this value */
  margin-bottom: 0; /* Adjust this value */
  filter: drop-shadow(7px 3px 9px rgb(25, 79, 150));
  border-radius: 7px;
}

.footer-column > a > img {
  width: 100%;
  height: auto;
  max-width: 30px;
}

/* Credit */
#credits {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: 'Futura', sans-serif;
  color: #8a8888;
  font-size: 12px;
  padding-top: 9px;
}