/*Global Settings*/
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  overflow: hidden;
}

@font-face {
  font-family: 'Playtime';
  src: url('Fonts/playtime/Playtime.otf') format('opentype');
  font-family: 'Futura';
  src: url('Fonts/futura/futur.ttf') format('truetype');
  
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}

section {
  display: flex;
  position: relative;
  height: 100vh;
  padding: 150px 100px 100px;
  box-sizing: border-box;
  z-index: 10;
}

/* Navigation Bar */

nav {
  background-color: #f5f5f5;
  height: 7%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  /* background-color: rgb(118, 118, 218); */
  gap: 22%;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  /* background-color: aqua; */
  width: 20%;
}

.nav-title a {
  display: flex;
  justify-content: center;
  color: #1f1f1f;
  /* background-color: red; */
}


.nav-search-profile {
  display: flex;
  justify-content: flex-end;
  /* background-color: aquamarine; */
  width: 20%;
}

/* Navigation Bar Search Bar and Icon */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 8px;
}

#search-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#profile-icon {
  margin-top: 3px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

#search-bar {
  border: none;
  font-size: 14px;
  padding: 4px;
  background-color: #f5f5f5;
}


/* Main Content */
.one {
  background-image: url(../Elements/Section1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.two {
  background: #0F3460;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 305px;
}

.title-category {
  display: flex;
  align-items: center;
}

.title-category h2 {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Futura', sans-serif;
  padding-bottom: 15px;
}

.category-links {
  display: flex;
  /* margin-bottom: auto; */
  padding-top: 60px;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid rgb(233, 230, 230);
}

.category-links li a {
  color: #ffeeee; 
  position: relative;
  font-weight: bold;
  font-family: "Madimi One", sans-serif;
  font-size: 30px;
  z-index: 1;
}
  
.category-links li a::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

/* Define custom properties for different pastel colors */
.category-links li a[href="#vinyl"]::before {
  background-color: #ffb6c1;
}

.category-links li a[href="#holographic"]::before {
  background-color: #add8e6; 
}

.category-links li a[href="#glitter"]::before {
  background-color: #98fb98;
}

.category-links li a[href="#paper"]::before {
  background-color: #ffd700;
}

.category-links li a[href="#die-cut"]::before {
  background-color: #f08080;
}

.category-links li a[href="#decal"]::before {
  background-color: #fab472;
}

.category-links li a[href="#static-cling"]::before {
  background-color: #d8bfd8;
}

/* Change link color on hover */
.category-links li a:hover {
  color: #ffffff;
}

/* Scale the hover effect */
.category-links li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Moving Effect */
.slider {
  height: 400px;
  margin: auto;
  /* margin-top: -70px; */
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 16);
  animation: scroll 140s linear infinite;
  gap: 30px;
}

.tile:nth-child(1) .slide, .tile:nth-child(9) .slide {
  background-color: #55cbcd;
}

.tile:nth-child(2) .slide, .tile:nth-child(10) .slide {
  background-color: #f6eac2;
}

.tile:nth-child(3) .slide, .tile:nth-child(11) .slide {
  background-color: #BFD8AF;
}

.tile:nth-child(4) .slide, .tile:nth-child(12) .slide {
  background-color: #FF8080;
}

.tile:nth-child(5) .slide, .tile:nth-child(13) .slide {
  background-color: #EEE0C9;
}

.tile:nth-child(6) .slide, .tile:nth-child(14) .slide {
  background-color: #FFC0D9;
}

.tile:nth-child(7) .slide, .tile:nth-child(15) .slide {
  background-color: #6096B4;
}

.tile:nth-child(8) .slide, .tile:nth-child(16) .slide {
  background-color: #AEE2FF;
}


.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 8));
  }
}

.slide {
  height: 350px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px 20px 5px;
  /* box-shadow: 5px 5px 5px rgb(110, 21, 252); */
  perspective: 100px;
}

.slide-track img {
  width: 100%;
  transition: 0.2s;
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
}

/* Image Hover effect */
.slide-track img:hover {
  transform: translateZ(25px);
}

/* Slider Gradient Shadows */
.slider::before,
.slider::after {
background: linear-gradient(to right, #0F3460 0%, rgba(255,255,255,0) 100%);
content: '';
height: 100%;
position: absolute;
width: 15%;
z-index: 2;
}

.slider::after {
background: linear-gradient(to left, #0F3460 0%, rgba(255,255,255,0) 100%);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ('180deg');
}

/* New CSS for the hover effect */
.tile {
  display: inline-block;
  /* margin: 10px; */
  text-align: left;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 5px 20px 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.tile:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}

.tile .details {
  font-size: 16px;
  font-family: 'Futura', sans-serif;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}

.tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}

.tile:focus:before,
.tile:focus span,
.tile:hover:before,
.tile:hover span {
  opacity: 1;
}

.tile:focus:before,
.tile:hover:before {
  top: 50%;
}

.tile:focus span,
.tile:hover span {
  top: 0;
}

.tile:focus .title,
.tile:hover .title {
  transition-delay: 0.15s;
}

.tile:focus .info,
.tile:hover .info {
  transition-delay: 0.25s;
}

/* Buy Now Link */
.buynow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  margin-left: 20%;
  margin-right: 20%;
}

#buynow-intro {
  text-align: center;
  color: whitesmoke;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  
}


.fancy {
  font-family: 'Futura', sans-serif;
  margin-bottom: -50px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 25;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  /* margin: 0; */
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}
 
.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
 
.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
 
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #000000;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
 
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #000000;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
 
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
 
.fancy:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
 
.fancy:hover::before {
  width: 0.9375rem;
  background: rgb(0, 0, 0);
}
 
.fancy:hover .text {
  color: rgb(0, 0, 0);
  padding-left: 1.5em;
}
 
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
 
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 305px; 
  padding: 0 250px;
  background: #1f1f1f;
}

.footer-title {
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.footer-title, a, p {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-family: 'Futura', sans-serif;
}

.footer-title > #footer-title-h2, #footer-title-link {
  letter-spacing: 2px;
}

.footer-title > #footer-title-p {
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}


/* Footer Links */

.footer-links-container {
  display: flex;
  background-color: red;
}

/* Credit */
#credits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  letter-spacing: 1px;
  font-family: 'Futura', sans-serif;
  color: #eeeeee;
  font-size: 10px;
}