/*Global Settings*/
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  overflow: hidden;
}

@font-face {
  font-family: 'Playtime';
  src: url('Fonts/playtime/Playtime.otf') format('opentype');
  font-family: 'Futura';
  src: url('Fonts/futura/futur.ttf') format('truetype');
  
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  scroll-snap-type: x mandatory;
}

section {
  display: flex;
  position: relative;
  height: 100vh;
  padding: 150px 100px 100px;
  box-sizing: border-box;
  z-index: 10;
}

/* Navigation Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

/* Main Content */
.one {
  background-color: #F56469;
}

.two {
  background: darkgreen;
  margin-bottom: 300px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px;  
  padding: 0 250px;
  background: #1b1c1e;
}

#footer-title #footer-link-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  padding-top: 40px;
  font-family: 'Futura', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  border-bottom: solid 1px #5f5e5e;
  padding-bottom: 40px;
}

#footer-title #footer-link-class {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  font-family: 'Futura', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

/* Footer Links */

.footer-link {
  margin-top: 40px;
  border-bottom: solid 1px #5f5e5e;
  padding-bottom: 5px;
}

.footer-link ul li > a {
  margin: 0 auto;
  display: flex;
  color: #eeeeee;
  font-family: 'Futura', sans-serif;
  margin: 20px;
  letter-spacing: 1px;
}

/* Credit */
#credits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  letter-spacing: 1px;
  font-family: 'Futura', sans-serif;
  color: #eeeeee;
  font-size: 10px;
}