/*Global Settings*/
::-webkit-scrollbar {
    width: 0;
    background: transparent;
    overflow: hidden;
}

@font-face {
    font-family: 'Playtime';
    src: url('Fonts/playtime/Playtime.otf') format('opentype');
    font-family: 'Futura';
    src: url('Fonts/futura/futur.ttf') format('truetype');
    
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
  }

section {
    display: flex;
    height: 100vh;
    padding: 150px 100px 100px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-right: 4.16667%;
    padding-bottom: 0px;
    padding-left: 4.16667%;
  }
